.full-page.section-image {
  position: static;
}

.section-image {
  background-size: cover;
  background-position: 50%;
  position: relative;
  width: 100%;
}

.full-page .full-page-background, .full-page:after {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
}

.full-page .full-page-background {
  background-size: cover;
  background-position: 50%;
}